@using Courier.Controllers
@model Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Product Status</title>
    <link rel="stylesheet" href="~/css/courier.css" asp-append-version="true">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-color: #F0F8FF">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 side-header header-background">
                <div class="logo">
                    <img src="~/img/courier.png" alt="Logo" class="">
                </div>
                <ul class="config-options">
                    <li><a asp-controller="Courier" asp-action="Index" class="btn btn-primary button-desing">Inicio</a> </li>
                    <li><a asp-controller="Courier" asp-action="Sucursales" class="btn btn-primary button-desing">Sucursales</a> </li>
                    <li><button class="btn btn-primary button-desing" type="button" data-bs-toggle="modal" data-bs-target="#Modal1">Ayuda</button> </li>
                    <li class="button-botton"><a asp-controller="Courier" asp-action="Configuracion" class="btn btn-primary button-desing">Configuracion</a> </li>
                    <li><a asp-controller="Login" asp-action="LogOut" class="btn btn-danger button-desing">Cerrar sesion</a> </li>
                </ul>
            </div>

            <div class="col-10">
                <div class="grid">
                    <h2>Detalles Pago</h2>
                    <div class="m-3 p-3">
                        @foreach (DetalleFactura item in ViewBag.Factura)
                        {
                            <p>Nombre: @item.Nombre @item.Apellido</p>
                            <p>RNC: @item.Cedula</p>
                            <p>Num. Recibo: @item.Id</p>
                            <p>Factura Generada: @item.FechaGeneracion</p>
                        }
                    </div>

                    <div class="card-body">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>ID-Paquete</th>
                                    <th>Paquete</th>
                                    <th>Peso</th>
                                    <th>Courier</th>
                                    <th>Impuesto</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DetalleFactura item in ViewBag.Factura)
                                {
                                    <tr>
                                        <td>@item.IdPaquete</td>
                                        <td>@item.Contenido</td>
                                        <td>@item.Peso lb</td>
                                        <td>300$RD</td>
                                        <td>100$RD</td>
                                        <td style="color: red">@item.Total $RD</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const tipo = '@TempData["Tipo"]';
        const titulo = '@TempData["Titulo"]';
        const mensaje = '@TempData["Mensaje"]';
    </script>
    <script src="~/js/sweetalert2.min.js" asp-append-version="true"></script>
    <script src="~/js/alerts.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>

    @await Html.PartialAsync("~/Views/Partials/Modals.cshtml")
</body>

</html>
